.container{
    width: 950px;
    overflow: hidden;
    background-color: silver;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    
}
.top-nav {
    background-color: green;
    height: 150px;
    margin-right: 24px;
}

.side-nav {
    height: 300px;
    width: 200px;
    margin-top: 20px;
    background-color: blue;
    display: inline-block;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
}

.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    box-sizing: border-box;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 10px;
}

#advertisement {
    height: 120px;
    width: 660px;
    vertical-align: top;
    background-color: purple;
    margin-top: 20px;
    margin-left: 10px;
}

